.podDescription {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.queueContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.episodesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  div {
    display: flex;
    justify-content: center;
    img {
      width: 40%;
      border-radius: 2rem;
    }
  }

  p {
    margin: 10px;
  }

  h2 {
    font-size: 3rem;
    color: #fff;
    margin: 2rem;
  }

  .line {
    border-top: 1rem solid #fff;
    width: 25%;
  }

  .podcastDescription {
    color: #fff;
    line-height: 25px;
  }

  a {
    color: #449dd1;
  }
}

.epHeader {
  display: flex;
  justify-content: space-between;

  button {
    background: none;
    border: none;
    max-width: 50px;
    min-width: 50px;
    svg {
      width: 30px;
      height: 30px;
      color: #666a86;
    }
  }
}

.queueDeleteBtn {
  background: none;
  color: #fff;
  border: none;
  max-width: 100px;
  min-width: 50px;
  svg {
    width: 30px;
    height: 30px;
    color: #fff;
  }
}

.episodeContainer {
  margin: 2rem;
  padding: 2.3rem;
  color: #fff;
  border-radius: 1rem;
  height: 15%;
  // border: 2px solid hsla(224, 85%, 76%, 1);

  font-family: "BDOGrotesk", Courier, monospace;
  background-color: #242423;

  img {
    width: 15rem;
    border-radius: 0.7rem;
    height: 50px;
  }
}

.libraryPodcastHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;

  h2 {
    margin-left: 5px;
  }
}

.showBtn {
  border: none;
  background-color: #ddd;
  padding: 0.7rem;
  color: #000;
  font-size: 1.5rem;

  font-family: "BDOGrotesk", Courier, monospace;
}

.epDescriptionNone {
  display: none;
}

.epDescription {
  display: block;
  margin-top: 25px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.genre {
  text-transform: capitalize;
  font-size: 1.3rem;
  width: 100px;
  text-align: center;
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #a14af2 0%,
    #8eaaf6 25%,
    #ccef4d 50%,
    hsla(30, 90%, 74%, 1) 75%,
    hsla(18, 64%, 68%, 1) 100%
  );
  border-image-slice: 1;
}

.showMoreEps {
  border: none;
  background-color: #fff;
  padding: 1rem;
  color: #000;
  font-family: "BDOGrotesk", Courier, monospace;

  margin-bottom: 20px;
  text-transform: uppercase;

  &:hover {
    background-color: hsla(224, 85%, 76%, 1);
    color: #000;
  }
}

.queueBtn {
  border: none;
  background-color: #666a86;
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  align-items: center;
  padding: 0.7rem;
  color: #fff;
  font-family: "BDOGrotesk", Courier, monospace;

  font-size: 1.5rem;

  svg {
    color: #fff;
    width: 20px;
  }
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
}


@media screen and (min-width: 991px) {
  .episodeContainer {
    width: 70vw;
  }

  .podContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .episodesContainer {
   
    div {
  
      img {
        width: 50%;
        
      }
    }
  }
  

}


.sortContainer{
  display: flex;
  flex-direction: column;
}

//   .podcastResultsContainer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }
// }

// //small tablets
// @media (min-width: 768px) and (max-width: 991px) {
//   .podcastContainer {
//     width: 30rem;
//   }

//   .podcastResultsContainer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }
// }

// @media (min-width: 992px) and (max-width: 1200px) {
//   .podcastContainer {
//     width: 40rem;
//   }

//   .podcastResultsContainer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }
// }

// .searchContainer{
//   input[type="text"]{
//     width: 50vw;
//   }
// }

// @media screen and (min-width: 1201px) {
//   .podcastContainer {
//     width: 40rem;
//     margin-left: 10rem;
//     margin-right: 10rem;
//   }

//   .podcastResultsContainer {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;

//   }

//   input[type="text"]{
//     width: 45vw;
//   }
// }
