h1 {
  color: #fff;
  font-size: 3.2rem;
}

.libraryHeader {
  width: 100vw;
  height: 30vh;
  display: flex;
  font-family: "BDOGrotesk", Courier, monospace;
  text-transform: uppercase;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #99d1ff;
  background-image: radial-gradient(
      at 52% 59%,
      hsla(128, 68%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 5% 6%, hsla(73, 84%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 2%, hsla(224, 85%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 82%, hsla(236, 86%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 95%, hsla(253, 68%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 12%, hsla(271, 87%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 16%, #844ff8 0px, transparent 50%),
    radial-gradient(at 23% 13%, hsla(30, 90%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 15%, hsla(18, 64%, 68%, 1) 0px, transparent 50%);

  h2 {
    background-color: #000;
    color: #ccef4d ;
    padding: 2rem;
  }

  input[type="text"] {
    margin-top: -2px;
  }
}

.libraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.validation {
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  p {
    color: #fff;
    text-align: center;
    padding: 2rem;
  }
}

.libraryPodcastContainer {
  margin: 2rem;
  padding: 2.3rem;
  color: #fff;
  border-radius: 2rem;
  border-radius: 1rem;
  background-color: #242423;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    min-width: 100px;
    height: 100px;
    border-radius: 1rem;
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }
}

.deleteBtn {
  background: #bc2c1a;
  border: none;
  color: #fff;
  width: 100px;
  margin-top: 15px;
  padding: 1rem;
  border: none;
  font-size: 1.4rem;
  text-align: center;
  font-family: "BDOGrotesk", Courier, monospace;
  text-transform: uppercase;

  &:hover {
    background-color: #c76664;
  }
}

.noneValidation{
  margin-top: 5rem;
  width: 70%;

  p{
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
  }
}
//small screen
@media screen and  (min-width: 480px) and (max-width: 767px) {
  .libraryPodcastContainer {
    width: 35rem;
  }
}



//small tablets
@media scren and  (min-width: 768px) and (max-width: 991px) {
  .libraryPodcastContainer {
    width: 30rem;
  }

  .resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .libraryPodcastContainer {
    width: 40rem;
  }

  .resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.searchContainer{
  input[type="text"]{
    width: 50vw;
  }
}

@media screen and (min-width: 1201px) {
  .libraryPodcastContainer {
    width: 40rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  input[type="text"]{
    width: 45vw;
  }
}
