.discoverHeader, .queueHeading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 30vh;
  background-color: #99d1ff;
  background-image: radial-gradient(
      at 52% 59%,
      hsla(128, 68%, 70%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 5% 6%, #ccef4d 0px, transparent 50%),
    radial-gradient(at 23% 2%, hsla(224, 85%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 82%, hsla(236, 86%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 95%, hsla(253, 68%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 12%, hsla(271, 87%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 16%, hsla(259, 92%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 13%, hsla(30, 90%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 74% 15%, hsla(18, 64%, 68%, 1) 0px, transparent 50%);

  h2 {
    background-color: #000;
    padding: 2rem;
    color: #ccef4d ;
    width: 50%;
    font-family: "BDOGrotesk", Courier, monospace;
    text-transform: uppercase;
    text-align: center;
  }
}

.mostListened {
  display: flex;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  gap: 2rem;
  margin-bottom: 10rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #99d1ff;
    border-radius: 1rem;
  }
}

.discoverPodcast {
  max-width: 250px;
  border-radius: 0.7rem;
}

.discover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: #fff;
  }
}

.discoverHeaders {
  background-color: #fff;
  padding: 1rem;
  color: #000;
  font-size: 25px;
  font-family: "BDOGrotesk", Courier, monospace;
  text-transform: uppercase;
  margin-top: 5rem;
  width: 55vw;
  text-align: center;
}

.listenedContainer {
  flex: 0 0 auto;
  margin-top: 2rem;
  color: #fff;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  max-height: 300px;
  text-transform: uppercase;
  background-color: #242423;
  font-weight: 100;
  font-size: 4rem;
  // padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  // border: 2px solid #ddd;
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    hsla(271, 87%, 62%, 1) 0%,
    hsla(224, 85%, 76%, 1) 25%,
    hsla(73, 84%, 62%, 1) 50%,
    hsla(30, 90%, 74%, 1) 75%,
    hsla(18, 64%, 68%, 1) 100%
  );
  border-image-slice: 1;

  img {
    min-width: 180px;
    height: 180px;
    border-radius: 1rem;
    margin-top: 10px;
  }
}

.plays {
  background-color: hsla(224, 85%, 76%, 1);
  font-size: 3rem;
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.previousSearches {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.previousSearch {
  text-transform: uppercase;
  padding: 2rem;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 0.5rem;

  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    hsla(271, 87%, 62%, 1) 0%,
    hsla(224, 85%, 76%, 1) 25%,
    hsla(73, 84%, 62%, 1) 50%,
    hsla(30, 90%, 74%, 1) 75%,
    hsla(18, 64%, 68%, 1) 100%
  );
  border-image-slice: 1;
  background: none;
  color: #fff;

  &:hover{
      background-color: #666a86;
     
  }
}

.searchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
